{
  "name": "ProFlame 2 (Generic ESP32 + CC1101)",
  "version": "__VERSION__",
  "home_assistant_domain": "esphome",
  "funding_url": "https://github.com/dangerouslaser/proflame2-esp",
  "new_install_prompt_erase": true,
  "builds": [
    {
      "chipFamily": "ESP32",
      "parts": [
        { "path": "firmware/proflame2-fireplace.factory.bin", "offset": 0 }
      ]
    }
  ]
}
